body{
    width: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:green;
}
.pag{
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    padding-right: 40px;
}
.links{
    margin-bottom: 25px;
}

#loginfondo{
   background-image: url("../img/DARK-SOULS-II-THUMBNAIL.jpg"); 
   background-size: auto;
   background-repeat: no-repeat;
}